---
title: lexsai
---

<html>
    <head>
        <title>{{ title }} - lexsai</title>
        <link rel="icon" href="/images/favicon2.png">
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="wrapper">
            <canvas id="background" width="1000" height="1000"></canvas> 
            <header>
                <nav>
                    <a href="/index.html">HOME</a>
                    <a href="/archive/">POSTS</a>
                    <a href="/projects/">PROJECTS</a>
                </nav> 
            </header>
            <main>
                <div class="border-container">
                    <h1 class="page-title" id="page-title">POST : {% formatDate date %}</h1>
                    <section class="post-text">
                        <h2 class="post-title" id="post-title">{{ title }}</h2>
                        {{ content }}
                    </section>
                </div>
            </main>
            <footer>
            </footer>
        </div>

        <script>
            let postTitleElement = document.getElementById("post-title");
            if (postTitleElement.innerText.length > 15) {
                postTitleElement.classList.add("medium-text")
            }
        </script>
        <script src="/scripts/background.js"></script>
    </body>
</html>
