---
title: HAHA II
---

<html>
    <head>
        <title>{{ title }} - HAHA II</title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="wrapper">
            <header>
                <nav>
                    <a href="/index.html">HOME</a>
                    <a href="/archive/">POSTS</a>
                    <a href="/projects/">PROJECTS</a>
                </nav> 
            </header>
            <main>
                <h1 class="page-title" id="page-title">{{ title }}</h1>
                <div class="date">{% formatDate date %}</div>
                <section class="post-text">
                    {{ content }}
                </section>
            </main>
            <footer>
            </footer>
        </div>

        <script>
            let pageTitleElement = document.getElementById("page-title");
            if (pageTitleElement.innerText.length > 15) {
                pageTitleElement.classList.add("medium-text")
            }
        </script>
    </body>
</html>
