---
title: HAHA II
---

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1>{{ title }}</h1> <a href="/index.html">HOME</a> | <a href="/archive/">POSTS</a> | <a href="/about/">ABOUT ME</a> 
            </header>
            <main>
                <section class="post-text">
                    {{ content }}
                </section>
            </main>
            <footer>
                made with 11ty
            </footer>
        </div>
    </body>
</html>
