a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

body {
    margin : auto;
    max-width: 500px;
    line-height: 1.6;
    font-family: Consolas;
    font-size: 18px;
    color: 	#f8f8f2;
    background-color: 	#14151b;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}

.page-title {
    font-size: 30px;
    text-align : center;
    margin-top: 100px;
    margin-bottom: 10px;
}

.super-title {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 100px;
}

.title-bar {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.post-preview {
    text-decoration: none; 
    color: 	#8be9fd;;
    width: 650px;
    padding: 10px;
}

.post-preview h3 {
    margin-bottom: 0px;
    margin-top: 0px
}

.results-box {
    display: inline-block;
    margin-left: -15%;
    height: 60%;
    overflow-x: hidden;
    overflow-y: auto;
}

.bottom-nav {
    text-align: center;
}
.bottom-nav a:link{text-decoration: none; color: #8be9fd;}
.bottom-nav a:visited{text-decoration: none; color:	#ff79c6;}
.bottom-nav a:hover{text-decoration: none; color:#8be9fd;}
.bottom-nav a:active{text-decoration: none; color: 	#8be9fd;}

.paginator {
    text-align: center;
}
.paginator a:link{text-decoration: none; color: #8be9fd;}
.paginator a:visited{text-decoration: none; color:	#ff79c6;}
.paginator a:hover{text-decoration: none; color:#8be9fd;}
.paginator a:active{text-decoration: none; color: 	#8be9fd;}