@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

:root {
    --background :#09090a;
    --text: #f1e2f8;
    --accent: #ff79c6;
    --accent3: #df3896;
    --accent2: rgb(59, 54, 62);
    --link-color: #ffc0e0;
}
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    color: var(--text);
    font-family: Inter;
    background-color: var(--background);
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}

a:link{text-decoration: none; color: var(--accent);}
a:visited{text-decoration: none; color:	var(--accent);}
a:hover{text-decoration: none; color: var(--link-color);}
a:active{text-decoration: none; color: var(--link-color);}

.main-title a:link{text-decoration: none; color: var(--text); transition: color 0.3s}
.main-title a:visited{text-decoration: none; color: var(--text); transition: color 0.3s}
.main-title a:hover{text-decoration: none; color: var(--accent) !important;}
.main-title a:active{text-decoration: none; color: var(--accent) !important;}

.project-box .project-link:link, .results-box .post-link:link {text-decoration: none; color: var(--text); transition: color 0.3s}
.project-box .project-link:visited, .results-box .post-link:visited {text-decoration: none; color: var(--text); transition: color 0.3s}
.project-box .project-link:hover, .results-box .post-link:hover {text-decoration: none; color: var(--link-color) !important;}
.project-box .project-link:active .results-box .post-link:active {text-decoration: none; color: var(--link-color) !important;}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.results-box {
    display: flex;
    flex-direction: column;
}

.project-box {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.results-box .post-link:nth-last-child(1) .post-preview {
    border-bottom: 0;
}

.project-box .project-link:nth-child(even) {
    border-left: 1px solid var(--accent2);
}
.project-box .project-link {
    border-bottom: 1px solid var(--accent2);
}
.project-box .project-link:nth-last-child(2) {
    border-bottom: 0;
}
.project-box .project-link:nth-last-child(1) {
    border-bottom: 0;
}

@media only screen and (min-device-width: 320px) {
    .wrapper header {
        position: fixed;
        height: 8vh;
        padding-left: 12.5vw;
        padding-top: 2.5vh;
        font-size: 3.5vh;
        width: 100%;
        background-color: var(--background);
        z-index: 3;
    }
    
    .wrapper header a {
        transition: color 0.3s;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
    }
    
    .current-page {
        display: inline-block;
        color: var(--accent2);
        padding-left: 1.5vw;
        padding-right: 1.5vw;
    }    
    
    .wrapper main {
        top: 8vh;
        bottom: 8vh;
        position: relative;
        flex: 1;
        margin: 0 auto;
    }
    
    .wrapper footer {
        height: 15vh;
        margin: 0 auto;
        text-align: center;
        padding-top: 10vh;
        padding-bottom: 5vh;
    }
    
    .main-title {
        padding-top: 60%;
        font-size: 1.75vh;
        text-align: center;
    }
    
    .main-title .fa-github {
        font-size: 7vh;
    }
    
    .main-title h1 {
        font-size: 15vh;
        text-align: center;
        color: var(--accent3);
        font-weight: 200;
    }
    
    .page-title {
        padding-top: 3vh;
        text-align: center;
        font-weight: normal;
        color: var(--accent3);
        max-width: 90vw;
        font-size: 4vh;
    }
   
    .medium-text {
        font-size: 3.5vh !important;
        padding-bottom: 1vh;
    }
    
    .post-text {
        margin: 0 auto;
        width: 90vw;
        line-height: 1.5;
        font-size: 2.2vh; 
    }

    .post-text p {
        margin-top: 4%;
        margin-bottom: 4%;
    }
    
    .post-text li {
        margin-top: 0;
        margin-left: 10%;
    }
    
    .post-text h3 {
        margin: 0 auto;
        text-align: center;
        color: var(--accent);
        font-weight: 300;
        font-size: 2.6vh !important;
    }
    
    .post-text img {
        width: 100%;
        height: auto;
    }
    
    .date {
        margin: 0 auto;
        text-align: center;
        color: var(--accent2);
        font-size: 2.2vh;
    }
    
    .paginator {
        text-align: center;    
        font-size: 2.2vh;
        right: 0;
        left: 0;
        padding-bottom: 2vh;
    }

    .post-preview {
        padding: 1.5rem;
        border-bottom: 3px solid var(--accent2);
        font-size: 2vh;
        line-height: 1.5;
        max-width: 95vw;
    }
    
    .post-preview h2 {
        font-size: 2.25vh;    
    }
     
    .project-box {
        margin-top: 2em;
    }

    .project-box .project-link {
        width: 50%;
    }

    .project-box .project-preview {
        padding: 1em;
        padding-bottom: 2em;
        font-size: 0.9em;
        width: 70%;
        margin: 0 auto;
    }

    .project-box .project-preview p {
        margin-top: 1em !important;
        margin-bottom: 1em !important;
    }
    
    .project-box .project-preview h2 {
        padding: 0.1em;
        text-align: center;
        font-size: 1.2em;
    }
}

@media only screen and (min-device-width: 768px) {       
    .wrapper header {
        position: fixed;
        height: 8vh;
        padding-left: 10vw;
        padding-top: 2.5vh;
        font-size: 1.2em;
        width: 100%;
        background-color: var(--background);
        z-index: 3; 
    }

    .wrapper header a {
        transition: color 0.3s;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
    }
    
    .current-page {
        display: inline-block;
        color: var(--accent2);
        padding-left: 1.5vw;
        padding-right: 1.5vw;
    }
    
    .wrapper main {
        top: 8vh;
        bottom: 8vh;
        position: relative;
        flex: 1;
        margin: 0 auto;
    }
    
    .wrapper footer {
        height: 15vh;
        margin: 0 auto;
        text-align: center;
        padding-top: 10vh;
        padding-bottom: 5vh;
    }
    
    .main-title {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 2em;
        text-align: center;
        height: 100%;
    }
    
    .main-title h1 {
        font-size: 3.5em;
        text-align: center;
        color: var(--accent3);
        font-weight: 200;
    }
    
    .page-title {
        text-align: center;
        font-weight: normal;
        color: var(--accent3);
        font-size: 2em;
        margin: 0 auto;
        max-width: 80%;
    }
    
    .medium-text {
        font-size: 1.8em !important;
        padding-bottom: 1vh;
    }
    
    .post-text {
        margin: 0 auto;
        width: 50vw;
        font-size: 1em;
        line-height: 1.5;
    }

    .post-text p {
        margin-top: 4%;
        margin-bottom: 4%;
    }
    
    .post-text li {
        margin-top: 0;
        margin-left: 10%;
    }
    
    .post-text h3 {
        margin: 0 auto;
        text-align: center;
        color: var(--accent);
        font-size: 1.2em !important;
        font-weight: 400;
    }
    
    .post-text img {
        width: 100%;
        height: auto;
    }
    
    .date {
        margin: 0 auto;
        text-align: center;
        color: var(--accent2);
        font-size: 1em;
    }
    
    .paginator {
        text-align: center;    
        font-size: 1.2em;
        right: 0;
        left: 0;
        padding-bottom: 2vh;
    }
    
    .post-preview {
        padding: 1.5rem;
        border-bottom: 1px solid var(--accent2);
        font-size: 1em;
        line-height: 1.5;
        max-width: 50vw;
    }
    
    .post-preview h2 {
        font-size: 1em;    
    }
    
    .project-box {
        margin-top: 2em;
    }

    .project-box .project-link {
        width: 50%;
    }

    .project-box .project-preview {
        padding: 1em;
        padding-bottom: 2em;
        font-size: 0.9em;
        width: 70%;
        margin: 0 auto;
    }

    .project-box .project-preview p {
        margin-top: 1em !important;
        margin-bottom: 1em !important;
    }
    
    .project-box .project-preview h2 {
        padding: 0.1em;
        text-align: center;
        font-size: 1.2em;
    }
}
