@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

:root {
    --background :#09090a;
    --text: #f1e2f8;
    --accent: #ff79c6;
    --accent3: #df3896;
    --accent2: rgb(59, 54, 62);
    --link-color: #ffc0e0;
}
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    color: var(--text);
    font-family: Inter;
    background-color: var(--background);
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}

a:link{text-decoration: none; color: var(--accent);}
a:visited{text-decoration: none; color:	var(--accent);}
a:hover{text-decoration: none; color: var(--link-color);}
a:active{text-decoration: none; color: var(--link-color);}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper header {
    position: fixed;
    height: 8vh;
    padding-left: 10vw;
    padding-top: 2.5vh;
    font-size: 2.5vh;
    width: 100%;
    background-color: var(--background);
    z-index: 3;
}

.wrapper header a {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}


.current-page {
    display: inline-block;
    color: var(--accent2);
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}


.wrapper main {
    top: 8vh;
    bottom: 8vh;
    position: relative;
    flex: 1;
    margin: 0 auto;
}

.wrapper footer {
    height: 15vh;
    margin: 0 auto;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.main-title {
    padding-top: 70%;
    font-size: 1.75vh;
    text-align: center;
}

.main-title h1 {
    font-size: 15vh;
    text-align: center;
    color: var(--accent3);
    font-weight: 200;
}

.page-title {
    text-align: center;
    font-weight: normal;
    color: var(--accent);
}

.post-text {
    margin: 0 auto;
    width: 50vw;
    line-height: 1.5;
}

.post-text p {
    margin-top: 4%;
    margin-bottom: 4%;
}

.post-text li {
    margin-top: 0;
    margin-left: 10%;
}

.post-text h3 {
    margin: 0 auto;
    text-align: center;
    color: var(--accent);
    font-weight: 300;
}

.post-text img {
    width: 100%;
    height: auto;
}

.date {
    margin: 0 auto;
    text-align: center;
    color: var(--accent2);
}

.paginator {
    position: absolute;
    text-align: center;    
    font-size: 20px;
    bottom: 8vh;
    right: 0;
    left: 0;
}

.post-preview {
    padding: 1.5rem;
    border-bottom: 1px solid var(--accent2);
    font-size: 15px;
    line-height: 1.5;
    max-width: 50vw;
}

.post-preview h2 {
    font-size: 16px;
}

.results-box a:link{text-decoration: none; color: var(--text);}
.results-box a:visited{text-decoration: none; color: var(--text);}
.results-box a:hover{text-decoration: none; color: var(--link-color) !important;}
.results-box a:active{text-decoration: none; color: var(--link-color) !important;}

.results-box a:nth-last-child(1) .post-preview {
    border-bottom: 0;
}

.medium-text {
    font-size: 3vh !important;
    padding-bottom: 1vh;
}