---
pagination:
    data: collections.post
    size: 5
    alias: posts
    reverse: true
---

<html>
    <head>
        <title>POSTS - lexsai</title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="wrapper">
            <header>
                <nav>
                    <a href="/index.html">HOME</a>
                    <div class="current-page">POSTS</div>
                    <a href="/projects/">PROJECTS</a>
                </nav> 
            </header>
            <main>
                <h1 class="page-title" id="page-title">My Posts</h1>
                <div class="results-box">
                    {% for post in posts %}
                        <a href="{{post.url}}">
                            <div class="post-preview">
                                <h2>{{ post.data.title }} - {% formatDate post.data.date %}</h2>
                                {% excerpt post %}
                            </div>
                        </a>
                    {% endfor %}
                </div><br>
                <div class="paginator">
                    <p>
                        {% if pagination.href.previous %}
                            <a href=" {{ pagination.href.previous }}">PREV</a>
                        {% else %}
                            PREV
                        {% endif %} 
                        / 
                        {% if pagination.href.next %}
                            <a href=" {{ pagination.href.next }}">NEXT</a>
                        {% else %}
                            NEXT
                        {% endif %}
                    </p>
                </div>    
            </main>
            <footer>
            </footer>
        </div>
    </body>
</html>
