<html>
  <head>
    <title>HOME - lexsai</title>
    <link rel="icon" href="/images/favicon2.png">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      body {
        overflow-y: hidden;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <canvas id="background" width="1000" height="1000"></canvas>
      <header>
        <nav>
          <div class="current-page">HOME</div>
          <a href="/archive/">POSTS</a>
          <a href="/projects/">PROJECTS</a>
        </nav>
      </header>
      <main>
        <div class="main-title-container">
          <h1 class="main-title">
            lexsai
          </h1>
          <nav class="buttons">
            <a href="#about">
              <img src="/images/arrow_down.gif" width="40">
            </a>
          </nav>
        </div>
        <div class="popup border-container" id="about">
          <a href="#">
            <img class="center" src="/images/arrow_up.gif" width="40">
          </a>
          <section class="post-text">
            <p>
              <b>Hello!</b>
            </p>
            <p>
              I like programming cool things and reverse engineering programs.
            </p>
            <p>
              Here, I write about cool things I've seen and show off my projects-- hopefully it's interesting.
            </p>
            <hr>
            <br>
            My Github:
            <a href="https://github.com/lexsai/">
              <i class="fa fa-github"></i>
            </a>
            <br>
            My Discord Tag: lexsai#2979
            <br>
          </section>
        </div>
      </main>
      <footer></footer>
    </div>
    <script src="/scripts/background.js"></script>
  </body>
</html>